html,
body {
  height: 100%;
  margin: 0;
}

body {
  align-items: center;
  display: flex;
  justify-content: center;

  background: linear-gradient(to bottom right, #848484, #009a5b);
  font-size: 1.5rem;
  font-family: "Comic Sans MS";
  color: #fff6d5;
}

main {
  color: #fff6d5;
  text-align: center;
}

.logo {
  height: 20em;
}

.heart:after {
  content: "❤️";

  font-size: 1.75em;
}

.entry {
  font-size: 14pt;
}

.entry:hover {
  text-decoration: underline;
}

.details {
  padding-left: 30px;
  font-size: 12pt;
}

.entries {
  overflow: scroll;
  max-height: 800px;
}

h1 + .subtitle {
  display: block;
  margin-top: -1em;
}
